body{
  background-color: blue;
}

#hamburger{
  display: none;
}

button:hover{
  background-color: orange;
  transform: scale(1.1);
}

@keyframes move {
  0% {
    transform: translateX(0px)
  }
  50%{
    transform: translateX(400px)
  }
  100%{
    transform: translateX(800px) translateY(100px)
  }
}

#square {
  height: 100px;
  width: 100px;
  background-color: pink;
  /* animation-name: move; */
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display:none;
}

@media screen and (max-width:800px) {
  body {
    background-color: red;
  }
  h1{
    letter-spacing: 10px;
  }

}

@media screen and (max-width: 500px) {
  body{
    background-color: green;
  }
  h1{
    letter-spacing: 1px;
  }
  #hamburger {
    margin-top: 20%;
    display: block;
  }
  #button-container{
    display: none;
  }
  #nav-links{
    justify-content: space-around;
  }
}