body{
  background-color: white;
}

.form{
  display: grid;
  justify-content: center;
}

.button {
  margin-top: 1rem;
  width: 9rem;
}

.poseBtn{
  display: flex;
  justify-content: space-between;
}

.jsLink {
  color:white;
  text-decoration: none;
}

.link, .createSequenceLink {
  color: black;
  text-decoration: none;
}

.jsLink:hover, .link:hover {
  color:orange;
}
.createSequenceLink:hover{
  color: #080357;
}

.poseImage{
  max-height: 200px;
}

.tableImage{
  max-height: 100px;
}

.poseDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.poseCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 1200px;
  padding: 1rem;
}

.poseCard{
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 2rem;
}

#button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

#button-container a{
  text-decoration: none;
}

.homeButton, .poseName {
  padding: 1rem;
  color: #2EC4B6;
  text-decoration: none;
}

.createSeqHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  margin-top: 3rem;
}

.aboutSection{
  text-align: center;
  font-style: italic;
}

.hamburger{
  display: none;
}

#poses{
  margin-bottom: .5rem;
}

.sequenceTable {
  margin-top: 1rem;
  max-width: 80vw;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.sequenceHeader{
  margin-top: 10vh;
  font-size: 2.5vh;
}

.sequenceInfo{
  margin-right: 2vw;
}

.sequenceCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;

  padding: 1rem;
  background-color: #080357;
  margin-bottom: 3rem;
}

.sequenceCard{
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  background-color: black;
}

.listName{
  margin-left: 2vw;
  font-weight: bold;
}

.footerLogo, .headerLogo {
  max-height: 40px;

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2EC4B6;
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 1rem;
}

.menu{
  display:flex;
  justify-content: flex-end;
}

.homeImage {
  display: flex;
  justify-content: center;
}

.yogaAtHome{
  max-width: 40vw;
}

.mySequences, .createSequence{
  padding-bottom: 3rem;
}

.createSeqBtn {
  padding-bottom: 3rem;
  background-color: #2EC4B6 !important;
  border:#2EC4B6 !important;
}

.createSequenceLink{
  color: white;
}

/* PAGINATION: */

.paginationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid orange;
  cursor: pointer;
  color: black;
}

.paginationButtons a:hover {
  color: white;
  background-color: #2EC4B6;
}

.paginationActive a {
  color: white;
  background-color: orange;

}

/* SEARCH POSES  */
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search input{
  max-width: 25vw;
  border: solid gray 0.1rem;
  border-radius: .25rem;
}

.bm-burger {
  display: none;
}



@media screen and (max-width:700px) {
  h1{
    letter-spacing: 10px;
  }

  .hamburger{
    display: block;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 5vw;
    height: 2vh;
    right: 3rem;
    top: 1.5rem;
  }

/* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #2EC4B6;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 1vh;
  width: 1vw;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1rem;
  font-size: 1.15em;
  color: white;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}


/* Individual item */
.bm-item, .menu-item a {
  display: inline-block;
  color: white !important;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  /* transition: color 0.2s; */
}

.bm-item a:hover {
  color: #ffffff;
}


  .menu {
    display: none;
  }
}


@media (min-width: 900px) {
  .poseCards {
    column-count: 2;
  }
}

@media (min-width: 1050px) {
  .poseCards {
    column-count: 3;
  }
}

