body{
  background-color: white;
}

.form{
  display: grid;
  justify-content: center;
}

.button {
  margin-top: 1rem;
  width: 9rem;
}

.poseBtn{
  display: flex;
  justify-content: space-between;
}

.jsLink{
  color:white;
  text-decoration: none;
}

.link {
  color: black;
  text-decoration: none;
}

.jsLink:hover, .link:hover {
  color:orange;
}

.poseImage{
  max-height: 200px;
}

.tableImage{
  max-height: 100px;
}

.poseDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.poseCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.poseCard{
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 2rem;
}

#button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

#button-container a{
  text-decoration: none;
}

.homeButton {
  padding: 1rem;
  color: #2EC4B6;
}

.createSeqHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  margin-top: 3rem;
}

.aboutSection{
  text-align: center;
  font-style: italic;
}

#hamburger{
  display: none;
}

#poses{
  margin-bottom: .5rem;
}

.sequenceTable {
  margin-top: 1rem;
  max-width: 80vw;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}


@keyframes move {
  0% {
    transform: translateX(0px)
  }
  50%{
    transform: translateX(400px)
  }
  100%{
    transform: translateX(800px) translateY(100px)
  }
}

#square {
  height: 100px;
  width: 100px;
  background-color: pink;
  /* animation-name: move; */
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display:none;
}

@media screen and (max-width:800px) {
  body {
    background-color: red;
  }
  h1{
    letter-spacing: 10px;
  }

}

@media screen and (max-width: 500px) {
  body{
    background-color: green;
  }
  h1{
    letter-spacing: 1px;
  }
  #hamburger {
    margin-top: 20%;
    display: block;
  }
  #button-container{
    display: none;
  }
  #nav-links{
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  .poseCards {
    column-count: 2;
  }
}

@media (min-width: 1050px) {
  .poseCards {
    column-count: 3;
  }
}

